/* Containers and flex */

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}
.flex.flex-center {
  align-items: center;
  justify-content: center;
}
/* Width and Height */

.width-25 {
  width: 25%;
}
.width-50 {
  width: 50%;
}
.width-75 {
  width: 75%;
}
.width-100 {
  width: 100%;
}

/* Backgrounds */

.bg-primary {
  background-color: var(--primary-color);
  color: white;
}
.bg-secondary {
  background-color: var(--secondary-color);
  color: white;
}
.bg-terciary {
  background-color: var(--terciary-color);
  color: black;
}

/* Margin */

.margin-a-l, .margin-a-x {
  margin-left: auto;
}
.margin-a-r, .margin-a-x {
  margin-right: auto;
}
.margin-a-t, .margin-a-y {
  margin-top: auto;
}
.margin-a-b, .margin-a-y {
  margin-bottom: auto;
}

.margin-s-t, .margin-s-y { /* margin small top*/
  margin-top: var(--small);
}
.margin-s-b , .margin-s-y { /* margin small bottom */
  margin-bottom: var(--small);
}
.margin-s-l, .margin-s-x { /* margin small left */
  margin-left: var(--small);
}
.margin-s-r, .margin-s-x { /* margin small right */
  margin-right:  var(--small);
}

.margin-m-t, .margin-m-y {
  margin-top: var(--medium);
}
.margin-m-b, .margin-m-y {
  margin-bottom: var(--medium);
}
.margin-m-l, .margin-m-x {
  margin-left: var(--medium);
}
.margin-m-r, .margin-m-x {
  margin-right:  var(--medium);
}

.margin-b-t, .margin-b-y {
  margin-top: var(--big);
}
.margin-b-b, .margin-b-y {
  margin-bottom: var(--big);
}
.margin-b-l, .margin-b-x {
  margin-left: var(--big);
}
.margin-b-r, .margin-b-x {
  margin-right:  var(--big);
}

/* padding */

.padding-s-t, .padding-s-y { /* margin small top*/
  padding-top: var(--small);
}
.padding-s-b , .padding-s-y { /* margin small bottom */
  padding-bottom: var(--small);
}
.padding-s-l, .padding-s-x { /* margin small left */
  padding-left: var(--small);
}
.padding-s-r, .padding-s-x { /* margin small right */
  padding-right:  var(--small);
}

.padding-m-t, .padding-m-y {
  padding-top: var(--medium);
}
.padding-m-b, .padding-m-y {
  padding-bottom: var(--medium);
}
.padding-m-l, .padding-m-x {
  padding-left: var(--medium);
}
.padding-m-r, .padding-m-x {
  padding-right:  var(--medium);
}

.padding-b-t, .padding-b-y {
  padding-top: var(--big);
}
.padding-b-b, .padding-b-y {
  padding-bottom: var(--big);
}
.padding-b-l, .padding-b-x {
  padding-left: var(--big);
}
.padding-b-r, .padding-b-x {
  padding-right:  var(--big);
}

/* Font */
.font-bold {
  font-weight: bold;
}
.font-small {
  font-size: var(--small);
}
.font-normal {
  font-size: var(--medium);
}
.font-big {
  font-size: var(--big);
}

/* Cards */

.card {
  background-color: var(--terciary-color);
  border: 0.15rem solid var(--complementary-terciary-color);
  border-radius: 0.3rem;
  max-width: 30rem;
  margin: 2rem auto;
}
.card-body {
  padding: 1rem 2rem;
}
.card-footer {
  padding: 1rem;
}

/* Forms */

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  text-align: left;
}
.form-buttons {
  margin: 1rem 0;
}
.form-buttons .btn{
  margin: 0.25rem 0;
}

/* Buttons */

.btn {
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.28, 0.83, 0.82, 1.18);
}
.block {
  display: block;
}
.btn.btn-100-width {
  width: 100%;
}
.btn.btn-75-width {
  width: 75%;
}
.btn.btn-50-width {
  width: 50%;
}
.btn.btn-25-width {
  width: 25%;
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: white;
}
.btn.btn-primary:hover {
  background-color: var(--primary-light-color);
}
.btn.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
}
.btn.btn-secondary:hover {
  background-color: var(--secondary-light-color);
}
.btn.btn-terciary {
  background-color: var(--terciary-color);
  color: black;
}
.btn.disabled {
  background-color: var(--disabled-color);
}

/* Misc */

.frame {
  border: 0.15rem solid gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000017;
}

@media screen and (min-width: 600px) {
  .container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* Animations and transitions */

.fade-enter-active {
  animation: fade-in 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fade-leave-active {
  animation: fade-in 0.3s reverse cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide-enter {
  opacity: 0;
  transform: translateX(-10rem);
}
.slide-leave-to {
  opacity: 0;
  transform: translateX(10rem);
}
.slide-enter-active, .slide-leave-active {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}