/* Containers and flex */

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.flex {
  display: flex;
}

/* Margin */

.margin-s-x { /* margin small top and bottom */
  margin-top: var(--small);
  margin-bottom: var(--small);
}

.margin-s-y { /* margin small left and right */
  margin-left: var(--small);
  margin-right: var(--small);
}

.margin-s-t { /* margin small top*/
  margin-top: var(--small);
}

.margin-s-b { /* margin small bottom */
  margin-bottom: var(--small);
}

.margin-s-l { /* margin small left */
  margin-left: var(--small);
}

.margin-s-r { /* margin small right */
  margin-right:  var(--small);
}

.margin-m-x { 
  margin-top: var(--medium);
  margin-bottom: var(--medium);
}

.margin-m-y { 
  margin-left: var(--medium);
  margin-right: var(--medium);
}

.margin-m-t {
  margin-top: var(--medium);
}

.margin-m-b {
  margin-bottom: var(--medium);
}

.margin-m-l {
  margin-left: var(--medium);
}

.margin-m-r {
  margin-right:  var(--medium);
}

.margin-b-y { 
  margin-top: var(--big);
  margin-bottom: var(--big);
}

.margin-b-x { 
  margin-left: var(--big);
  margin-right: var(--big);
}

.margin-b-t {
  margin-top: var(--big);
}

.margin-b-b {
  margin-bottom: var(--big);
}

.margin-b-l {
  margin-left: var(--big);
}

.margin-b-r {
  margin-right:  var(--big);
}

/* Font sizes */

.font-small {
  font-size: var(--small);
}
.font-normal {
  font-size: var(--medium);
}
.font-big {
  font-size: var(--big);
}

/* Cards */

.card {
  border: 0.15rem solid;
  border-radius: 0.15rem;
  max-width: 30rem;
  margin: 2rem auto;
  background-color: var(--terciary-color);
}
.card-body {
  padding: 1rem 2rem;
}
.card-footer {
  padding: 1rem;
}

/* Forms */

.form-group {
  display: flex;
  flex-direction: column;
}
.form-group label {
  text-align: left;
}
.form-buttons {
  margin: 1rem 0;
}
.form-buttons .btn{
  margin: 0.25rem 0;
}

/* Buttons */

.btn {
  border: none;
  padding: 1rem;
  font-size: 1rem;
}
.btn.btn-100-width {
  width: 100%;
}
.btn.btn-75-width {
  width: 75%;
}
.btn.btn-50-width {
  width: 50%;
}
.btn.btn-25-width {
  width: 25%;
}
.btn.btn-primary {
  background-color: var(--primary-color);
  color: white;
}
.btn.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
}
.btn.disabled {
  background-color: var(--disabled-color);
}

/* Misc */

.frame {
  border: 0.15rem solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000017;
}

@media screen and (min-width: 600px) {
  .container {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

/* Animations and transitions */

.fade-enter-active {
  animation: fade-in 0.5s;
}
.fade-leave-active {
  animation: fade-in 0.5s reverse;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}